<link rel='stylesheet' id='camera-css'  href='assets/css/camera.css' type='text/css' media='all'> 
<meta name="apple-mobile-web-app-capable"/>

<style>
  html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;
  }
  a,.button {
    display: inline-block;
    margin-right: .2em; 
    padding: .4em 1em .3em;
    font-weight: bold;
    font-family: Helvetica, Arial, Sans-serif;
    font-size: .8em;
    color: #fff;
    background-color: #000;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  @media screen and (max-width: 1024px) {
    a,.button {
      font-size: .5em;
    }
  }
  a:hover {
    text-decoration: underline;
  }
  #back_to_camera {
    clear: both;
    display: block;
    height: 20px;
    line-height: 20px;
    padding: 15px;
    position: relative;
    z-index: 1;
  }
  #back_to_camera button {
    float: right;
  }
  .fluid_container {
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 0;
  }
  #camera_wrap {
    bottom: 0;
    height: 100%;
    left: 0;
    margin-bottom: 0!important;
    position: fixed;
    right: 0;
    top: 0;
  }
  .camera_bar {
    z-index: 2;
  }
  .camera_thumbs {
    margin-top: -100px;
    position: relative;
    z-index: 1;
  }
  .camera_thumbs_cont {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
  }
  .camera_overlayer {
    opacity: .1;
  }
  :-webkit-full-screen #camera_wrap {
    width: 100%;
    height: 100%;
  }
</style>

<script type='text/javascript' src='assets/script/jquery.min.js'></script>
<script type='text/javascript' src='assets/script/jquery.mobile.customized.min.js'></script>
<script type='text/javascript' src='assets/script/jquery.easing.1.3.js'></script> 
<script type='text/javascript' src='assets/script/camera.min.js'></script> 

<script>

  jQuery(function(){

    jQuery('#camera_wrap').camera({
      height: 'auto',
      autoAdvance: 'false',
      mobileAutoAdvance: 'false',
      navigationHover: 'true',
      loader: 'bar',
      portrait: 'true',
      fx: 'scrollLeft',
      pagination: false,
      thumbnails: false,
      hover: false,
      opacityOnGrid: false,
    });

  });
</script>