/* Override some defaults */
html,
body {
  background-color: #eee;
}
.navbar {
  margin-bottom: 0;
}
.container > footer {
  margin-top: 20px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

/* Typography ======================================================== */

h1 {
  margin: .2em 0 .5em;
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  border-radius: 0 0 6px 6px;
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.topbar .btn {
  border: 0;
}

.column {
  margin: .5em 0 .5em 15px;
     -moz-column-count: 4; /* Firefox */
  -webkit-column-count: 4; /* Safari and Chrome */
          column-count: 6;
     -moz-column-gap: 10px; /* Firefox */
  -webkit-column-gap: 10px; /* Safari and Chrome */
          column-gap: 10px;
}

.gallery img {
  border-radius: 5px;
}

.gallery img:hover {
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
  box-shadow: 0 0 20px rgba(0,0,0,.8);
  border: 1px solid #555;
}

/* Home ======================================================== */

.logo {
  margin-right: 2em;
}

.highlight {
  line-height: 1.5;
  font-size: 1.2em;
}

.home_gallery .thumbnail {
  min-height: 365px;
}

.home_gallery h2 {
  margin: 8px 0;
  line-height: 20px;
  font-size: 20px;
}

.home_gallery img {
  width: 100%;
}

@media (min-width: 600px) {
  .home_gallery .span3 {
    width: 17.728%;
    width: 100%;
  }
}

/* stage-list ===================================================== */

.stage-list {
  margin-bottom: 1rem;
  padding: 1rem 0 0.5rem;
  border-bottom: 1px solid #ccc;
}

.stage-list h1 {
  margin: 0;
}

.stage-list  {
  margin: 0;
}

/* tag_box ======================================================== */

.tag_box {
  list-style: none;
  margin: 0;
  padding: 5px 0 ;
  overflow: hidden;
}
.tag_box li {
  line-height: 28px;
}
.tag_box.inline li {
  float: left;
}
.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #005f6b;
  border-radius: 3px;
  text-decoration: none;
}
.tag_box a span {
  vertical-align: super;
  font-size: .8em;
}
.tag_box a.active {
  background: #57a957;
  border: 1px solid #4c964d;
  color: #fff;
}
